services:
  teamcountdown:
    build:
      dockerfile: ./Dockerfile
      context: .
    restart: always
    volumes:
      - ./data:/app/data
    env_file: ".env.production"
    environment:
      GTAG_ID: G-7JQ2WSKCLT
      AHREFS_KEY: OR25pSoDpycSw5Y6N2q99Q
  cron:
    build:
      dockerfile: ./cron/Dockerfile
      context: .
    restart: always
    volumes:
      - ./data:/app/data
    env_file: ".env.production"

networks:
  default:
    external: true
    name: proxy
