@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	}
}

h1, h2, h3, h4, h5, h6 {
	letter-spacing: -0.02em;
}

@layer utilities {
	.bg-dark-vignette {
		background: radial-gradient(ellipse at 50% 0%, #3a3a3a 0%, #0f0f0f 70%);
	}

}

@layer components {
	.content-link {
		@apply underline decoration-white/50 hover:decoration-white transition-colors;

		&.stone {
			@apply decoration-stone-900/50 hover:decoration-stone-900;
		}
	}
}
