@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	}
}

@layer components {
	.content-link {
		@apply underline decoration-white/50 hover:decoration-white transition-colors;

		&.stone {
			@apply decoration-stone-900/50 hover:decoration-stone-900;
		}
	}
}
