0 3 * * * cd /app && npm run get-nba-schedule > /proc/1/fd/1 2> /proc/1/fd/2
0 3 * * * cd /app && NODE_ENV=production npm run get-nfl-schedule > /proc/1/fd/1 2> /proc/1/fd/2
0 3 * * 0 cd /app && npm run get-mlb-schedule > /proc/1/fd/1 2> /proc/1/fd/2
